.outerContainer {
  position: relative;
  display: grid;
  background-color:#828282;
  width: 300px;
  height: 300px;
  align-content: space-evenly;
  background-size:contain;
  box-shadow: inset 17px 17px 35px #6f6f6f,
            inset -17px -17px 35px #969696;
  border:5px ridge rgb(255 255 255 / 50%);
}

.hintButton {
  position: absolute;
  top: 0;
  right: 0;
}

.pokemonDisplayContainer {
  display: grid;
  place-self: center;
  grid-template-areas: "pokemonDisplay";
  border-radius: 5px;
  max-width: 450px;
  max-height:300px;
  align-content: space-evenly;
}

.pokemonDisplayFigure {
  display: grid;
  place-items: center;
  place-self: center start;
}

.pokemonDisplayCaption {
  background-color: darkgray;
  border-radius: 5px;
  padding: 10px;
  border: solid white 1px;
}

.pokemonDisplayImage {
  width: 200px;
  place-self: end end;
}

.pokemonDisplayDescription {
  background-color: darkgray;
  border: solid white 1px;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  margin: 10px;
  position: relative;
  bottom: 35px;
}

.obscured {
  filter: brightness(0%);
}