.outerContainer {
  display: grid;
  background-color: darkblue;
  border-radius: 10px;
  width: 450px;
  height: 375px;
  margin: 20px;
  align-content: space-evenly;
  padding: 20px;
  background-image:url(./whosthatpokemon.webp);
  background-size:contain;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.pokemonDisplayContainer {
  display: grid;
  place-self: center;
  grid-template-areas: "pokemonDisplay";
  border-radius: 5px;
  max-width: 450px;
  max-height:300px;
  align-content: space-evenly;
}

.pokemonDisplayFigure {
  display: grid;
  width: 200px;
  place-items: center;
  place-self: center start;;
}

.pokemonDisplayCaption {
  background-color: darkgray;
  border-radius: 5px;
  padding: 10px;
  border: solid white 1px;
}

.pokemonDisplayImage {
  margin-left: -40px;
  width: 150px;
  place-self: end start;
}

.pokemonDisplayDescription {
  background-color: darkgray;
  border: solid white 1px;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  margin: 10px;
}

.obscured {
  filter: brightness(0%);
}